
<head>
    <title>Kyselyt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div class="container">
    {{#if currentUser}}
        <header>
            <h1 class="pad">Kyselyhallintapaneeli</h1>
        </header>
        <div class="col-sm-12 col-lg-12">
            {{>LeftSide}}{{>RightSide}}
        </div>
    {{else}}
        {{>Login}}
    {{/if}}
</div>

</body>