
<template name="ChangePassword">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <form class="changePassword" method="post">
                    <div class="modal-header objectTopic">
                        Salasanan muuttaminen
                    </div>

                    <div class="modal-body">
                        <label class="{{#if alertOld}}alert alert-danger{{/if}}">
                            Nykyinen salasana:
                        </label>
                        <input autofocus class="modalinput" type="password" id="oldPass"
                               required title="Syötä vanha salasana"/>
                        <label class="{{#if alertNew}}alert alert-danger{{/if}}">
                            Uusi salasana:
                        </label>
                        <input class="modalinput" type="password" id="newPass"
                               pattern=".{6,}"   required title="Vähintään 6 kirjainta"/>
                        <label class="{{#if alertConf}}alert alert-danger{{/if}}">
                            Vahvista salasana:
                        </label>
                        <input class="modalinput" type="password" id="conPass"
                               required title="Vahvistus puuttuu"/>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="OK">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>