
<template name="Login">
    <div class="loginWindow">
        <form id="login" method="post">
            <label for="login-username">Username</label>
            <input type="text" id="login-username">

            <label for="login-password">Password</label>
            <input type="password" id="login-password">

            <input class ="btn btn-primary" type="submit" value="Login">

            <p id="form-messages"></p>
        </form>
    </div>
</template>