<template name="LeftSide">
    <div class="col-sm-3 col-lg-3">
        <li>Käyttäjä: <b>{{currentUser.username}}</b></li>
        <li class="underlinedText renewPassword">Vaihda salasana</li>
        <li class="underlinedText LogOut">Kirjaudu ulos</li>
        <br>
        <li class="underlinedText landingPage">Etusivu</li>
        {{#if isInRole 'moderator'}}
            <li class="underlinedText imageBank">Kuvapankki</li>
            <li class="underlinedText listContacts">Kontaktit</li>
        {{/if}}
        {{#if isInRole 'admin'}}
            <li class="underlinedText listUsers">Käyttäjät</li>
        {{/if}}
        <br>
        {{#if isInRole 'moderator'}}
            <button class="btn btn-sm btn-info newInquiry">Uusi kysely</button>
        {{/if}}
        {{#if isInRole 'reader'}}
            {{#if activeAmount}}
                <div class="listBorders">
                    <div class="btn-success objectTopic">Käytössä ({{activeAmount}})</div>
                    {{#each inquiries}}
                        {{#if active}}<li class="underlinedText pad selectInquiry">{{topic}}</li>{{/if}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if deactiveAmount}}
                <div class="listBorders">
                    <div class="btn-warning objectTopic">Ei käytössä ({{deactiveAmount}})</div>
                    {{#each inquiries}}
                        {{#unless active}}<li class="underlinedText pad selectInquiry">{{topic}}</li>{{/unless}}
                    {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>
