
<template name="DelUser">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <div class="modal-header objectTopic">
                    Varmista käyttäjän poisto
                </div>

                <div class="modal-body">
                    Haluatko varmasti poistaa käyttäjän <b>{{username}}</b>? Toimintoa ei voi peruuttaa.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success confirmed">Kyllä</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                </div>

            </div>
        </div>
    </div>
</template>