/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315431;
    background-image: linear-gradient(to top, #315431, #918e52 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
    min-height: 100%;
    background: white;
}
.toolBox{
    float: right;
}
.objectTopic{
    text-align: center;
}
.unEven{
    vertical-align: top;
}
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf3, #e1e5e3 100%);
    position: relative;
}
.listBorders{
    border-radius: 0 0 10px 10px;
    border: 2px solid #8AC007;
    padding: 0;
}
h1{
    display: inline;
}
.underlinedText:hover{
    text-decoration: underline;
    cursor: pointer;
}
.newInquiry{
    width: 100%;
    text-align: center;
}
.modalinput{
    width: 95%;
}
li.selectInquiry{
    border-radius: 0 0 10px 10px;
    border-bottom: #eee outset 1px;
}
li.questions {
    font-size: 120%;
    font-weight: bold;
    margin-left: 30px;
    padding: 5px 0 0 0;
}
.dateSpan{
    padding-left:2em;
}
li.options{
    margin-left: 50px;
}
li {
    position: relative;
    list-style: none;
}
.pad{
    padding: 0 0 0 20px;
}
.editButton:before{
    content:"\270f";
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    left:-5px;
    color: grey;
    display: inline;
}
.addButton:before{
    content:"\2b";
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    left:-5px;
    color: darkgreen;
    display: inline;
}
.deleteButton:before{
    content:"\e020";
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    left:-5px;
    color: darkred;
    display: inline;
}
.loginWindow{
    width: 260px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
a{
    text-decoration:none;
    color:#f30;
}
pre{
    display:block;
    font:100% "Courier New", Courier, monospace;
    padding:10px;
    border:1px solid #bae2f0;
    background:#e3f4f9;
    margin:.5em 0;
    overflow:auto;
    width:800px;
}

img{border:none;}
#screenshot{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
    max-width:300px;
    max-height:300px;
}