
<template name="DeletePopup">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">
                <form class="{{deleteObjectType}}">

                    <div class="modal-header objectTopic">
                        Varmista poistaminen
                    </div>

                    <div class="modal-body">
                        Haluatko varmasti poistaa {{deleteObjectName}} <b>"{{deleteObjectValue}}"</b>? Toimintoa ei voi peruuttaa.
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Kyllä">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>