
<template name="LandingPage">
    <h3>Tervetuloa</h3>
    {{#if isInRole 'reader'}}
        <p>Valitse kysely listasta{{#if isInRole 'moderator'}} tai luo uusi kysely{{/if}}.</p>
    {{else}}
        <p>Sinulla ei ole oikeusia tämän sivun sisältöön.</p>
    {{/if}}
</template>