
<template name="ListUsers">
    {{#if isInRole 'admin'}}
        <h3>Käyttäjät</h3>
        <li><b>Admin</b></li>
        <li>Oikeudet hallinnoida käyttäjiä (luoda, poistaa, resetoida) sekä niiden oikeuksia</li>
        <li><b>Mod</b></li>
        <li>Oikeudet kyselytietoihin (lisäys, muokkaus, poisto) ja vastauksiin (luku, poisto*)</li>
        <li><b>Read</b></li>
        <li>Oikeudet selata kyselytietoja sekä lähettää niihin vastauksia</li>

        <table class="table table-condensed">
            <tr>
                <th>Käyttäjä</th>
                <th>Admin</th>
                <th>Mod</th>
                <th>Read</th>
                <th>Toiminnot</th>
            </tr>
            <tr>
                <td class="addButton newUser">Luo uusi käyttäjä</td>
            </tr>
            {{#each listUser}}
                <tr>
                    <td>{{username}}</td>
                    <td>
                        {{#if findAdmin}}
                            <span class="underlinedText text-success removeAdmin">Kyllä</span>
                        {{else}}
                            <span class="underlinedText text-warning addAdmin">Ei</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if findMod}}
                            <span class="underlinedText text-success removeMod">Kyllä</span>
                        {{else}}
                            <span class="underlinedText text-warning addMod">Ei</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if findRead}}
                            <span class="underlinedText text-success removeRead">Kyllä</span>
                        {{else}}
                            <span class="underlinedText text-warning addRead">Ei</span>
                        {{/if}}
                    </td>
                    <td><span class="underlinedText rstUser">Palauta salasana</span> | <span class="underlinedText removeUser">Poista</span></td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</template>
