
<template name="ListContacts">
    <h3>Kontaktit</h3>
    <p class="underlinedText downloadCsv">Lataa CSV</p>
    <table class="table table-condensed">
        <tr>
            <th>Sukunimi</th>
            <th>Etunimi</th>
            <th>Puhelin</th>
            <th>Email</th>
            <th>Syntymäaika</th>
            <th>Sukupuoli</th>
            <th>Osoite</th>
            <th>Lähetetty</th>
        </tr>
        {{#each contacts}}
            <tr>
                <td>{{surname}}</td>
                <td>{{firstname}}</td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
                <td>{{birthdayFormat}}</td>
                <td>{{gender}}</td>
                <td>{{address}},{{zip}},{{city}}</td>
                <td>{{formatDate sent}}</td>
            </tr>
        {{/each}}

    </table>
</template>