<template name="ImageBank">
    {{#if isInRole 'moderator'}}
        <h3>Kuvapankki</h3>
        <span class="addButton"></span>
        Lisää kuvia
        <span class="btn btn-sm btn-info btn-file">
            Selaa<input type="file" name="file" class="btn-file imageUpload" multiple/>
        </span>
        <table class="table-condensed">
            {{#each images}}
                <tr>
                    <td class="deleteButton removeImage"></td>
                    <td><a href="{{this.url}}" target="_blank">{{this.name}}</a></td>
                    <td class="pad">
                        {{#unless this.isUploaded}}
                            {{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true}}
                        {{else}}
                            {{formatDate this.uploadedAt}}
                        {{/unless}}
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</template>