
<template name="ShowImages">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <div class="modal-header objectTopic">
                    Valitse kyselyn ohessa näytettävät kuvat
                </div>

                <div class="modal-body">
                    <table class="table-condensed">
                        {{#each images}}
                            <tr class="underlinedText {{#if isSelected}}
                                unPin btn-success {{else}} pin btn-default
                            {{/if}}">
                                <td>{{this.name}}</td>
                                <td>{{formatDate this.uploadedAt}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>