
<template name="AddUser">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <form class="newUser" method="post">

                    <div class="modal-header objectTopic">
                        Luo uusi käyttäjä
                    </div>

                    <div class="modal-body">
                        <label>Käyttäjänimi</label>
                        <input autofocus class="modalinput" type="text" id="username" />
                        Huom. salasana asetaan samaksi kuin käyttäjänimi.
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Luo">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>