
<template name="EditPopup">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <form class="editableObject" method="post">

                    <div class="modal-header objectTopic">
                        {{objectTopic}}
                    </div>

                    <div class="modal-body">
                        <input autofocus class="modalinput" type="text" name="text" value="{{objectValue}}"/>

                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Tallenna">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>