
<template name="ListItem">
    {{#if isInRole 'moderator'}}
        {{>InquiryTools}}
    {{/if}}
    <h1 class="editInquiry"><span class="editButton"></span>{{topic}}</h1>
    <table>
        <tr><td>Luotu:</td><td class="dateSpan">{{formatDate createdAt}} ({{createdBy}})</td> </tr>
        <tr><td>Muokattu:</td><td class="dateSpan">{{formatDate lastModifiedAt}} ({{lastModifiedBy}})</td></tr>
        <tr><td>Viimeisin muutos:</td><td class="dateSpan">{{lastAction}}</td></tr>
        <tr><td>Valitut kuvat:</td><td class="dateSpan">{{photos.length}}</td></tr>
        <tr><td class="unEven">Kuvakierto:</td><td class="dateSpan">
            <span class="addButton showImages"><span class="underlinedText">Valitse kuvapankista</span></span>
        </td></tr>
        <tr><td>Vastauskertoja:</td><td class="dateSpan">{{totalAnswersAmount}} <span class="underlinedText downloadCsv">Lataa CSV</span></td></tr>
    </table>

    {{#if isInRole 'moderator'}}

        <span class="addButton">Lisää kysymys
            <button class="btn btn-sm btn-info newQuestionRadio">Yksivalinta</button>
            <button class="btn btn-sm btn-info newQuestionCheck">Monivalinta</button>
            <button class="btn btn-sm btn-info newQuestionInput">Vapaavastaus</button>
        </span>
    {{/if}}
    {{#each questions}}
        <li class="questions">
            {{#if isInRole 'moderator'}}
                <span class="deleteButton removeQuestion"></span>
                <span class="editButton editQuestionText">
                    <span class="glyphicon {{thisQuestionType}}"></span>
                    <span class="underlinedText">{{questionText}}</span>
                </span>
            {{else}}
                <span class="glyphicon {{thisQuestionType}}"></span>
                {{questionText}}
            {{/if}}
        </li>
        {{#if notInputType}}
            {{#if isInRole 'moderator'}}
                <li class="options">
                    <span class="addButton newAnswer"><span class="underlinedText">Lisää vastausvaihtoehto</span></span>
                </li>
            {{/if}}
            {{#each options}}
                <li class="options">
                    {{#if isInRole 'moderator'}}
                        <span class="deleteButton removeAnswer"></span>
                        <span class="editvastaus editButton"><span class="underlinedText">{{answerText}}</span></span>
                    {{else}}
                        {{answerText}}
                    {{/if}}
                </li>
            {{/each}}
        {{/if}}
    {{/each}}
</template>
