
<template name="InquiryTools">
    <div class="toolBox">
        {{#if active}}
            <button class="btn btn-sm btn-success modifyActive">Käytössä</button>
        {{else}}
            <button class="btn btn-sm btn-warning modifyActive">Ei käytössä</button>
        {{/if}}
        <button type="button" class="btn btn-sm btn-danger deleteInquiry" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash"></span> Poista kysely
        </button>
    </div>
</template>
