
<template name="RstUser">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content form-group">

                <div class="modal-header objectTopic">
                    Varmista salasanan palautus
                </div>

                <div class="modal-body">
                    Haluatko varmasti palauttaa käyttäjän <b>{{username}}</b> salasanan?
                    <br>Salasana asetetaan samaksi, kuin käyttäjänimi.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success confirmed">Kyllä</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                </div>

            </div>
        </div>
    </div>
</template>